nav {
    .selected {
        background-color: rgb(253, 174, 78);
    }
}

main {
    overflow-y: auto;
    padding: 0 10px;

    div {
        margin: 10vh auto 50px auto;
        background-color: rgb(255, 255, 255);
        width: 80%;
        min-width: 355px;
        height: auto;
        padding: 20px;
        text-align: center;

        border: 1px solid rgb(88, 88, 88);
        border-radius: 10px;
        box-shadow: 5px 5px;
        overflow-x: auto;

        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            border-radius: 10px;

            th, td {
                border: 1px solid rgb(189, 189, 189);
                padding: 10px;
            }

            th {
                padding: 12px 8px;
                background-color: #04AA6D;
                color: white;
            }

            tr:nth-child(even) {
                background-color: #dbdbdbb0;}
            }

            a, button {
                display: block;
                margin: auto;
                width: 70px;
                padding: 5px 5px;
                background-color: #04AA6D;
                text-decoration: none;
                color: white;
                border-radius: 10px;
                border: none;
                font-size: 15px;
                text-align: center;
            }

            a:hover {
                transition: ease-in 0.3s;
                background-color: #048354;
            }

            button {
                background-color: tomato;
                margin-top: 5px;
            }

            button:hover {
                cursor: pointer;
                transition: ease-in 0.3s;
                background-color: rgb(196, 76, 54);
            }
        }
}