* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    overflow: hidden;
    height: 100vh;
}

nav, main {
    overflow-y: auto;
}

nav {
    background-color: rgb(235, 234, 234);
    width: 200px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid black;

    img {
        height: 55px;
        margin: 5px 0 0 5px;
        user-select: none;
    }

    h2 {
        margin: 0;
        padding: 15px 0 15px 15px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        user-select: none;

        li {
            a {
                display: block;
                width: 100%;
                padding: 10px 0 10px 30px;
                text-decoration: none;
                color: black;
            }
        }

        li:hover {
            background-color: rgb(253, 174, 78);
        }
    }

    .profile {
        position: fixed;
        bottom: 20px;
        margin-left: 15px;
        text-align: left;
        width: 170px;
        height: 50px;
        border: 1px solid black;
        border-radius: 10px;
        user-select: none;

        img {
            background-color: rgb(107, 107, 107);
            float: left;
            height: 35px;
            margin: 6px 10px 0 10px;
            border-radius: 10px;
        }

        span {
            display: inline-block;
            margin-top: 12px;
            text-decoration: none;
            color: black;
        }
    }

    .profile:hover {
        transition: ease-in 0.1s;
        background-color: rgb(253, 174, 78);
        cursor: pointer;
    }

    .details {
        position: fixed;
        bottom: 73px;
        margin-left: 15px;
        text-align: left;
        width: 170px;
        height: 30px;
        border: 1px solid black;
        border-radius: 10px;
        user-select: none;
        display: none;
        opacity: 0;
        transition: opacity 2s ease-in; /*Não funciona aparentemente*/

        a {
            float: left;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 50%;
            padding-top: 3px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(253, 174, 78);

            font-size: 15px;

            text-align: center;
            text-decoration: none;
            color: black;
        }

        a:hover {
            transition: ease-in 0.1s;
            background-color: rgb(192, 132, 58);
        }

        form {
            float: right;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 50%;

            input {
                float: right;
                padding: 0;
                display: block;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgb(253, 174, 78);
                border: none;
                border-left: 1px solid black;
                font-size: 15px;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            input:hover {
                transition: ease-in 0.1s;
                background-color: rgb(192, 132, 58);
            }
        }
    }
}

main {
    background-color: rgb(253, 174, 78);
    margin: 0 0 0 200px;
    flex: 1; // ocupa o espaço restante
}