.order {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: auto;
    margin: 0 auto 50px auto;
    padding: 20px;
    align-items: center;

    border: 1px solid #585858;
    border-radius: 10px;

    box-shadow: 5px 5px;

    span {
        color: rgb(253, 174, 78);
    }
    h2 {
        text-align: center;
    }

    button {
        display: block;
        margin: 20px auto 10px auto;
        border: 1px solid rgb(253, 174, 78);;
        border-radius: 10px;
        padding: 10px;

        h3 {
            margin: 0;
        }
    
        p {
            margin: 5px 0 0 0;
            font-size: 14px;
        }

        // .waiting {
        //     background-color: #00ff91;
        // }

        // .waiting:hover {
        //     transition: ease-in 0.2s;
        //     background-color: #00ac61;
        // }

        // .concluded {
        //     background-color: #00a1ff;
        // }

        // .concluded:hover {
        //     transition: ease-in 0.2s;
        //     background-color: #00649e;
        // }

        // .requests {
        //     background-color: #ffdf00;
        // }

        // .requests:hover {
        //     transition: ease-in 0.2s;
        //     background-color: #a08b00;
        // }
    }

    button:hover {
        cursor: pointer;
    }

    img {
        display: none;
        background-color: rgb(41, 209, 111);
        height: 20px;
        margin: auto;
        border-radius: 50px;
        padding: 5px;
        transform: rotate(90deg);
    }

    table {
        display: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        position: relative;
        margin-top: 10px;

        th, td {
            padding: 5px;
        }
        th {
            padding: 12px 8px;
            background-color: rgb(41, 209, 111);
            color: white;
            position: sticky;
            top: 0;
        }
        th:nth-child(1) {
            border-top-left-radius: 10px;
        }
        th:last-child {
            border-top-right-radius: 10px;
        }
        tr {
            background-color: #c7c7c7b0;
        }
        tr:nth-child(even) {
            background-color: #dbdbdbb0;
        }
        tr:last-child {
            td {
                padding: 5px;
            }
            td:first-child {
                background-color: rgb(41, 209, 111);
                color: white;
            }

            button {
                visibility: hidden;
                pointer-events: none;
            }
        }
    }
}