/* Reset de margin e padding para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CABEÇALHO */
.header {
    background-color: #000;
}

.menu {
    list-style: none;
    overflow: hidden;
    padding: 10px 20px;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: #333;
}

/* Estilo específico para o link de perfil */
.profile {
    float: right;
}

.profile a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
}

#nome, #fornecedor {
    text-transform: uppercase;
}

/* Estilo para a mensagem de alerta quando o usuário não está autenticado */
.alert-message {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
}

/* TÍTULO */
.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* FORMS */
body {
    background-image: url('./Imagens/Salgados Background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffffc9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* TABELA */

/* Estilo para a div que envolve a tabela */
.table-container {
    width: 80%;
    max-width: 850px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.table-container a{
    text-decoration: none;
    color: #007bff;
}

.table-container a:hover{
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td{
    text-align: center;
}

td:last-child {
    text-align: center;
    font-weight: bold;
}

td:last-child::before {
    content: attr(data-status);
    display: inline-block;
    padding: 6px 10px;
    border-radius: 12px;
    color: #fff;
    text-transform: capitalize;
}

td:last-child[data-status="Ativo"]::before {
    background-color: #5cb85c;
}

td:last-child[data-status="Inativo"]::before {
    background-color: #d9534f;
}

/* Estilos para a mensagem */
.message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 10px; /* Cantos arredondados */
    max-width: 400px; /* Largura máxima para a mensagem */
    text-align: center; /* Centraliza o texto */
    font-family: Arial, sans-serif; /* Define a família da fonte */
    color: #333; /* Cor do texto */
}

.close-btn {
    float: right;
    cursor: pointer;
    color: #aaa; /* Cor do botão de fechar */
    font-weight: bold;
    font-size: 20px;
}

.close-btn:hover {
    color: #000; /* Cor do botão de fechar ao passar o mouse */
}
