@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

nav, main {
  overflow-y: auto;
}

nav {
  background-color: rgb(235, 234, 234);
  width: 200px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid black;
}
nav img {
  height: 55px;
  margin: 5px 0 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav h2 {
  margin: 0;
  padding: 15px 0 15px 15px;
}
nav .ul_container {
  overflow-y: auto;
  height: calc(100% - 150px);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0 10px 30px;
  text-decoration: none;
  color: black;
}
nav ul li:hover {
  background-color: rgb(253, 174, 78);
}
nav .profile {
  position: fixed;
  bottom: 20px;
  margin-left: 15px;
  text-align: left;
  width: 170px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .profile img {
  background-color: rgb(107, 107, 107);
  float: left;
  height: 35px;
  margin: 6px 10px 0 10px;
  border-radius: 10px;
}
nav .profile span {
  display: inline-block;
  margin-top: 12px;
  height: 100%;
  width: 105px;
  text-decoration: none;
  color: black;
  white-space: nowrap; /*Tira a quebra de linha*/
  overflow: hidden;
  text-overflow: ellipsis; /*Coloca "..." em texto que sobressair o limite de espaço*/
}
nav .profile:hover {
  transition: ease-in 0.1s;
  background-color: rgb(253, 174, 78);
  cursor: pointer;
}
nav .details {
  position: fixed;
  bottom: 73px;
  margin-left: 15px;
  text-align: left;
  width: 170px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  opacity: 0;
  transition: opacity 2s ease-in; /*Não funciona aparentemente*/
}
nav .details a {
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
  padding-top: 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(253, 174, 78);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
}
nav .details a:hover {
  transition: ease-in 0.1s;
  background-color: rgb(192, 132, 58);
}
nav .details form {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
}
nav .details form input {
  float: right;
  padding: 0;
  display: block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(253, 174, 78);
  border: none;
  border-left: 1px solid black;
  font-size: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
nav .details form input:hover {
  transition: ease-in 0.1s;
  background-color: rgb(192, 132, 58);
}

main {
  background-color: rgb(253, 174, 78);
  margin: 0 0 0 200px;
  flex: 1;
}/*# sourceMappingURL=admin_home.css.map */